body {
  font-family: Helvetica;
  font-size: 13px;
  color: #333;
  line-height: 18px;
  margin-top: 20px;
  margin-left: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {color:#0864c7;}
a:visited {color:#0864c7;}
